apiVersion: 1

groups:
  - orgId: 1
    name: trivy_critical_alerts
    folder: Security
    interval: 5m
    rules:
      - uid: trivy_critical_cves
        title: Critical Vulnerabilities Detected
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: bews1glreyj9cc
            model:
              expr: trivy_critical_vulnerabilities
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
          - refId: B
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 0
                      - 0
                    type: gt
                  operator:
                    type: and
                  query:
                    params: []
                  reducer:
                    params: []
                    type: avg
                  type: query
              datasource:
                name: Expression
                type: __expr__
                uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              reducer: last
              refId: B
              type: reduce
          - refId: C
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 1
                      - 0
                    type: gt
                  operator:
                    type: and
                  query:
                    params: []
                  reducer:
                    params: []
                    type: avg
                  type: query
              datasource:
                name: Expression
                type: __expr__
                uid: __expr__
              expression: B
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        dashboardUid: trivy-actionable
        panelId: 1
        noDataState: OK
        execErrState: Alerting
        for: 5m
        annotations:
          description: "Critical vulnerabilities found in {{ $labels.container }}. Check Trivy dashboard for details: https://grafana.byrroserver.com/d/trivy-actionable"
          summary: "{{ $value }} critical CVEs detected in container images"
        labels:
          severity: critical
          team: security
        isPaused: false
