services:
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /mnt/ByrroServer/docker-data/tautulli:/config
    networks:
      - byrro-net

networks:
  byrro-net:
    external: true
